<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        .align{
            text-align: center;
            margin: 1rem;
        }
        .margin {
            margin: 2rem;
        }
        .margin-card {
          margin: 1rem;
        }
        .mr {
            margin-right: 1rem;
        }
        .close {
          position: absolute;
          right: 0;
          top: 0;
          padding: 12px 16px 12px 16px;
        }

    </style>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand align">
          <a class="navbar-item title" href="#">
            TODO App With DJANGO
          </a>  
        </div>
    </nav>
    <main class="container">

        <form action="" method="POST"> {% csrf_token %}
            <div class="field margin is-grouped">
                <h1 class="label is-large mr">Task: </h1>
                <div class="control is-expanded">              
                  <input class="input is-primary is-medium" type="text" placeholder="Your TODO" name="title" id="myInput">
                </div>
                <p class="control">
                  <input class="button is-success is-medium addBtn" type="submit" value="Add TODO">
                  </input>
                </p>
            </div>
        </form>

        {% for todo in todos reversed %}
        <div class="card margin-card " id="myUL">
            <div class="card-content">
               
              <p class="title ">
                {{todo.title | title}}
                <span class="close"><a href="delete/{{todo.id}}"><button class="delete is-large"></button>
                </a></span>
              </p>
            
            </div>
          </div>
          {% endfor %}
    </main>

</body>
</html>